{% extends 'base.html' %}

{% block content %}
<h2>Оформление заказа</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Оформить заказ</button>
</form>

<h3>Ваши товары:</h3>
<table>
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Общая сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.items.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.get_total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Итог: {{ total_cost }}</h3>
{% endblock %}
